{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MAP</title>
	<link rel="stylesheet" href="{% static 'fonts/css/font-awesome.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>

<!-- <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script> -->
</head>
<style type="text/css">
	#header {
		height: 75px;
		background-color: darkgoldenrod;
	}
	#mapdiv {
		height: 550px;
		background-color:  salmon;
	}
	#side_panel {
		height: 900px;
		background-color: beige;
	}
	#footer {
		height: 75px;
		background-color: darkgrey;
	}
	.modal {
        z-index: 1000
  }

     
</style>
<body>
  	<div id="mapAPP" class="container-fluid">
  		<header>
  			<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
     <i class="fa fa-map-o fa-4x" aria-hidden="true"></i>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button">
            <strong>Sign up</strong>
          </a>
          <a class="button">
            Log in
          </a>
        </div>
      </div>
    </div>
</nav>
<hr>
  		</header>
  		
  		{% block content %}
       
   		{% endblock content %}
  	</div>
      
<footer class="footer" style="margin-top: 90px;">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
  	<script src="{% static 'output/app.js' %}" async></script>
</body>
</html>