@import "./materialize/css/materialize.min.css";


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


  label.custom_active {
		transform: translateY(-14px) scale(0.8);
		transform-origin:0 0;
  }


  .ilike-blue-container {
	    @extend .blue !optional; 
	    @exend .lighten-4;
  }